@import './functions';
@import './variables';
@import './mixins';

@media (max-width: 480px) {
  $modules: (
    balance-module wallets-labels-module wallets-module interes-module
      receive-module chart-module markets transactions news-module header
  );
  @each $module in $modules {
    .#{$module} {
      margin: 0 px-rem(32);
    }
  }
}
@mixin main-grid {
  position: relative;
  display: grid;
  height: calc(100vh - 108px);
  padding: 0 2.5rem 2.4rem 1.9rem;
  gap: 1.3vw;
}
