$color-dark: #18191d;
$color-slate: #222429;
$color-middle: #1d2024;
$color-light: #2a2b31;
$color-bright: #45464d;
$color-green: #7ac231;
$color-white: #ffffffee;
$color-red: #c11e0f;
$color-icons: #43444b;
$color-text-dark: #3a3c43;
$color-text-dark-transporent: #3a3c4385;
$color-text-middle: #42434b;
$color-text-light: #606166;
$color-conversation-active: #4c4d55;
$color-wallets-counter: #252529;
$charcoal-grey: #323235;
